@import "tailwindcss";

.nav-links{
  @apply px-4 py-1.5 bg-[#f0f0f0]
  hover:bg-[#e0e0e0]
  rounded-2xl
}

.nav-bar{
  @apply fixed flex top-0 w-full z-50 flex-row justify-between items-center px-4 py-2 bg-transparent
}